@model ImeTrackr.Models.AdminModel

@{
    ViewBag.Title = "Index";
}

<h2>Administration</h2>
<p />
<h3>Users</h3>
@if (Model.Users != null)
{
    <table>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Delete?</th>
        </tr>
    @foreach (MembershipUser item in Model.Users)
    {
        <tr>
            <td>@Html.ActionLink(item.UserName, "Edit", new { user = item })</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>
            @foreach (var role in Roles.GetRolesForUser(item.UserName))
            {
                @role@:  
            }
            </td>
            <td>
            
                @Html.ActionLink("Delete User", "Delete", new { user = item.UserName })
            </td>
        </tr>
    }
    </table>    
}
else
{
    <text>No users defined</text>
}

<p />
<h3>Roles</h3>

@if (Model.Roles != null)
{
    <table>
        <tr>
            <th>Role Name</th>
        </tr>
    @foreach (var role in Model.Roles)
    {

            <tr>
                <td>@Html.Raw(role)</td>
                <td>
                @if (role == "Administrators" || role == "Users")
                {
                    @:Can't Delete: core role
                }
                else
                {
                    @Html.ActionLink("Delete", "DeleteRole", new { roleName = role })
                }
                </td>
            </tr>
        
    }
    </table>
}
else
{
    <text>No roles defined.</text>
}   
<p />

@using (Html.BeginForm("AddRole", "Admin"))
{
    <table>
        <tr>
            <th>Add Role</th>
        </tr>
        <tr>
            <td>@Html.EditorFor(m => m.RoleName)</td>
            <td><input type="submit" value="Create" /></td>
        </tr>
    </table>
}



